<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Purchase Candidate</h1>
          <% unless logged_in? %>
            <%= link_to 'Sign UP', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'items/items', items: @items %>
